[Unit]
Description=DNS with china list
After=network.target

[Service]
Type=exec
Restart=on-abort
ExecStart=/usr/bin/godns -conf /etc/godns/config.json

[Install]
WantedBy=multi-user.target
